<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <mapping class="com.jee.model.User"/>
        <mapping class="com.jee.model.mapped_superclass.Publication"/>
        <mapping class="com.jee.model.mapped_superclass.Book"/>
        <mapping class="com.jee.model.mapped_superclass.BlogPost"/>
        <mapping class="com.jee.model.table_per_class.SchoolUser"/>
        <mapping class="com.jee.model.table_per_class.Student"/>
        <mapping class="com.jee.model.table_per_class.Teacher"/>
        <mapping class="com.jee.model.single_table.Vehicle"/>
        <mapping class="com.jee.model.single_table.Car"/>
        <mapping class="com.jee.model.single_table.Motorcycle"/>
        <mapping class="com.jee.model.joined.Module"/>
        <mapping class="com.jee.model.joined.Project"/>
        <mapping class="com.jee.model.joined.Course"/>
        <mapping class="com.jee.model.many_to_many.Customer"/>
        <mapping class="com.jee.model.many_to_many.Product"/>
    </session-factory>
</hibernate-configuration>